# ========== Python ==========
backend/venv/
backend/.env

__pycache__/
*.pyc

# ========== Node.js ==========
frontend/node_modules/
frontend/build/

# ========== macOS ==========
.DS_Store

# ========== IDE / Editor ==========
.vscode/
.idea/
